# Ignore specific scripts
POLLI-GEN-*.py

# Ignore generated images directory
GENERATED/*

# Ignore everything in ASSETS except STYLES.txt
ASSETS/*
!ASSETS/STYLES.txt

# Ignore settings and user styles
settings.txt
ASSETS/user_styles.txt

# Ignore mac files
.DS_Store
